*.pyc
project.lock.json
bin/
obj/
.vs/
node_modules/

# Local terraform directory
**/.terraform/*

# .tfstate files
terraform.tfstate
terraform.tfstate.backup

# Crash log files
crash.log

# Variables files
terraform.tfvars
terraform.tfvars.json

.terraform.lock.hcl